<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="alert alert-danger m-5" role="alert">
        <h4 class="alert-heading">Erreur 404</h4>
        <p>vous n'avez pas le droit d'acceder a cette page </p>
        <hr>
        <p class="mb-0"></p>
    </div>

</div>
</body>
</html>
